*{
    text-decoration: none;
}
@font-face {
    font-family: 'SF Pro';
    src: url('fonts/SFPro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    background: linear-gradient(to bottom, white, #d5dde0);
    font-family: 'SF Pro', sans-serif;
}



/*  -------------------------- Menu Bar Styles --------------------------  */
.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d0d5d7;
    padding: 25px;
    font-family: calibri;
}

.menubar .left,
.menubar .center,
.menubar .right {
    display: flex;
    align-items: center;
    flex: 1;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.menubar .left,
.menubar .right {
    z-index: 1;
}

.menubar .center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    z-index: 0;
}

.right .logout-section {
    position: absolute;
    text-decoration: none;
}

.menubar .home-btn {
    margin-right: auto;
    background-color: #81968f;
    color: white;
    padding-left: 40px;
    background-image: url("Images/home.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 40px;
    height: 60px;
    width: 120px;
    font-size: 1.5em;
}
/* Icon references */
/* Home icon by HideMaru: https://www.freepik.com/icons/white*/

.menubar .icon {
    margin: 0 20px;
    align-self: center;
    vertical-align: center;
    width:auto;
    height: 84px;
}

.menubar .login-btn {
    margin-left: auto;
    background-color: #81968f;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 1.5em;
}

.menubar a.login-btn,
.menubar a.home-btn {
    display: inline-block;
    background-color: #81968f;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 1.5em;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
}
.menubar a.login-btn{
    background-color: #D55A64;
}

.menubar .addNew-btn ,
.menubar .userView-btn{
    display: inline-block;
    background-color: #81968f;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 1.5em;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
}

.logout-btn {
    text-decoration: none;
    color: #333;
}


/*  --------------------------Table Styles --------------------------  */
.table{
    border-spacing: 0;
    margin: 1rem 0;
    background-color: #f5f5f5;
    width: 100%;
}

.table-row:nth-child(even){
    background-color: #e5e5e5;
}

.table-header {
    text-align: left;
}

.table-cell {
    padding: 8px;
}


/*  --------------------------Form Styles --------------------------  */
.form-container {
    width: 500px;
    height: 600px;
    background-color: #96BDC6;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-container h2 { 
    text-align: center;
    font-family: 'Calibri', sans-serif;
    margin-top: 50px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 80%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-container button{
    background-color: #F05365;
    color: white;
    width: 80%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto;
}

.form-container a{
    text-decoration: none;
    color: white;
}

.form-container button:hover {
    opacity: 0.8;
}

.form-container .links {
    text-align: center;
}

.form-container .links a {
    display: block;
    color: #2E294E;
    text-decoration: none;
    margin: 10px auto;
    text-align: center;
}
