<!DOCTYPE html>
<html>
<head>
    <title>Database</title>
    <link rel="stylesheet" href="/static/styles.css"/>
<body>
    <nav class="menubar" id="menubar">
        <div class="left">
            <div class="db-buttons">
                <a href="/add-new-restaurant" class="addNew-btn">Add New</a>
                <a href="/user-view" class="userView-btn">User View</a>
            </div>
        </div>
        <div class="center">
            <img src="static/images/logo.png" alt="AppLogo" class="icon">
        </div>
        <div class="right">
            <div class="logout-section">
                <div class="welcome-message">Welcome {{username}}!</div>
                <a href="/" class="logout-btn">Logout</a>
            </div>
        </div>
    </nav>
    
    <table class="table">
        <tr class="table-header">
            {% for header in headings %}
                <th class="table-cell">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr class="table-row">
            {% for cell in row %}
                <td class="table-cell">{{ cell }}</td>
            {% endfor %}
            <td class="table-cell">
                <form action="/edit-restaurant" method="POST">
                    <input type="hidden" name="_method" method="POST">
                    <input type="submit" value="Edit" class="btn-btn-edit">
                </form>
                <form action = "/delete-restaurant" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" class="btn-btn-danger">
                </form>
            </tr>
        {% endfor %}
    </table>
</body>
</html>