<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poly's BiteQuest</title>
    <link rel="stylesheet" href="/static/styles.css"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
    <style>
      @font-face {
            font-family: 'SF Pro';
            src: url('fonts/SFPro.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        } 
        body{
            background: linear-gradient(to bottom, white, #d5dde0);
            font-family: 'SF Pro', sans-serif;
        }
    </style>
  <body>
    <nav class="menubar" id="menubar">
      <div class="left">
        <!-- Empty for this page -->
      </div>
      <div class="center">
        <img src="static/images/logo.png" alt="AppLogo" class="icon">
      </div>
      <div class="right">
        <a class="login-btn" href="/login" target="_parent">Login</a>
      </div>
    </nav>
    <div class="img-container">
      <!-- Add django syntax to get image location from database -->
      <img src="/static/images/qrcodes/qr4riversSmokehouse.png" width="200" height="200">
  </div>
  <div class="img-container">
    <!-- Add django syntax to get image location from database -->
    <img src="/static/images/qrcodes/Wakame-sushi.png" width="200" height="200">
  </div>
  <div class="img-container">
    <!-- Add django syntax to get image location from database -->
    <img src="/static/images/qrcodes/abuelos-mexican.png" width="200" height="200">
  </div>
  </body>
</html>
