<!DOCTYPE html>
<html>
<head>
    <title>Poly's BiteQuest</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
    <nav class="menubar" id="menubar">
        <div class="left">
            <a class="home-btn" href="/" target="_parent" >Home</a>
        </div>
		<div class="center">
            <img src="static/images/logo.png" alt="AppLogo" class="icon">
        </div>
        <div class="right">
            <!-- Empty for this page-->
        </div>
	</nav>

    <div id="login"></div>
    <div class="form-container">
        <h2>Admin Login</h2>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit"><a href="/database">Login</a></button>
        <div class="links">
            <a href="#">Forgot Username/Password?</a>
            <a href="#">Request Admin Access</a>
        </div>
    </div>
    </div>
</body>
</html>