<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
    <nav class="menubar" id="menubar">
        <div class="left">
            <a class="home-btn" href="/" target="_parent" >Home</a>
        </div>
		<div class="center">
            <img src="static/images/logo.png" alt="AppLogo" class="icon">
        </div>
        <div class="right">
            <!-- Empty for this page-->
        </div>
	</nav>

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username }}
        {{ form.password.label }} {{ form.password }}
        {{ form.submit }}
    </form>
</body>
</html>